ul
{
 list-style-position:inside;
 border:2px solid red;
}
td {
    height: 50px;
    vertical-align: bottom;
  }
table
{
    border:2px solid red;
    border-collapse: collapse;
}

img:hover{
    transform: scale(1.8);
}
tr:nth-child(odd)
{
    background-color: antiquewhite;
}
tr:nth-child(even)
{
    background-color:blueviolet;
}

h1
{
    border:2px;
    border-style:solid;
    border-color:blue;
    border-width: 2px;
    border-radius: 20px;
    width:40%;
    background-color: aqua;
} 
p{
    font-size:30px;
    color:hsla(39, 85%, 48%,0.3);
    unicode-bidi: isolate-override;
}
h3{
    text-decoration:underline;
    text-decoration-color: blue;
    text-decoration-thickness: 10px;
    text-decoration-style: dashed;
}
h2
{
    white-space:normal;
    text-transform: uppercase;
    line-height: 80px;
    letter-spacing: 3px;
    text-indent: 80px;
}
.p1
{
    word-spacing: 50px;
    text-shadow: 6px 7px red;
    text-indent: 50px;
    color:bisque;
}






